@page {
  size: A4;
}

.cv-container {
  width: 190mm;



  @media print {
    .cv-container {
      margin: 0;
      padding: 0;
      border: 0;
      width: auto
    }
  }

  html {
    margin: 0;
    padding: 0
  }

  body {
    margin: 0;
    padding: 0;
    border: 0;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact --color-background: var(--color-background-light);
    --color-text: var(--color-text-light);
  }


  body.dark-theme {
    --color-background: var(--color-background-dark);
    --color-text: var(--color-text-dark);
  }